{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi pizza</h1>
<form method="post" action="{{base_path}}/pizza">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value="">
    </div>
    <select>
        <optgroup label="Täytteet">
            {% for tayte in taytelista %}
            <option value=tayte.taytenro>tayte.nimi</option>
            {% endfor %}
        </optgroup>
    </select>
    
    <div class="form-group">
        <label>Hinta</label>
        <input type="number" class="form-control" value="">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
<!-- Kuvaus tulee tähän -->
{% endblock %}