{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi pizza</h1>
<form method="post" action="{{base_path}}/pizza">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" name="nimi" value="">
    </div>
    <div class="form-group">
        <label>Täytteet</label>
        <select class="form-control" name="taytteet[]" multiple="">
        {% for tayte in taytteet %}
            <option value="{{tayte.lisukenro}}">{{tayte.nimi}}</option>
        {% endfor %}
        </select>
    </div>
    
    <div class="form-group">
        <label>Hinta</label>
        <input type="number" class="form-control" name="hinta" value="">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
<!-- Kuvaus tulee tähän -->
{% endblock %}