{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tayte</th>
            <th>Poista</th>
            <th>Muokkaa</th>
        </tr>
    </thead>
    
    <tbody>
        {% for tayte in taytteet %}
        <tr>
            <td>{{tayte.nimi}}</td>
            <td><form action="{{base_path}}/tayte/{{tayte.taytenro}}/delete" method="POST" class="btn btn-danger">Poista</form></td>
            <td><a href="{{base_path}}/tayte/{{tayte.taytenro}}/muokkaa">Muokkaa</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if user is not null %}
<h1>Lisää uusi täyte</h1>
<form method="post" action="{{base_path}}/tayte">
    <div class="form-group">
        <input type="text" name="nimi" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Lisää täyte</button>
    </div>
</form>
{% endif %}
{% endblock %}